<head>
    
    <title>ServiceHub|<%=titl%></title>
    <link rel="icon" type="image/x-icon" href="<%= assetPath('images/360_F_321606502_srp20qA1LTbWdZKZFaGHx1rdcPIStjLb.jpg') %>">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="/css/layout.css"> -->
    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">

    <%- style %>
</head>
<body>
    
   
    <%- include('_header'); %>
    

    <%- body %>
    
    <%- include('_footer'); %>
    
<%- script %>

<% if(flash.success && flash.success.length > 0){ %>
    <script>

        new Noty({
    theme: 'metroui',
    text: `<%= flash.success %>`,
    type : 'success',
    layout: 'topCenter',
    timeout: 1500      
}).show();
 </script> 
        <% } %> 
        
        <% if(flash.error && flash.error.length > 0){ %>
            <script>
        
                new Noty({
                    
            theme: 'metroui',
            text: `<%= flash.error %>`,
            type : 'error',
            layout: 'top',
            timeout: 1500        
        }).show();
         </script> 
                <% } %> 
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
